# PyCity Schools Analysis

- Your analysis here

---

In [1]:
import pandas as pd
from pathlib import Path

df = pd.read_csv('schools_complete.csv')
df = pd.read_csv('students_complete.csv')

In [2]:

# File to Load (Remember to Change These)
schools_data_to_load = Path(r"C:\Users\Antho\pandas-challenge\pyCitySchools\Starter_Code\PyCitySchools\Resources\schools_complete.csv")
student_data_to_load = Path(r"C:\Users\Antho\pandas-challenge\pyCitySchools\Starter_Code\PyCitySchools\Resources\students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
schools_data = pd.read_csv(schools_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, schools_data, how="left", on="school_name")
school_data_complete.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635

## District Summary

In [3]:
# Calculate the total number of unique schools
school_count =  len(school_data_complete["school_name"].unique())
print(school_count)

15

In [4]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()
print(student_count)

39170

In [5]:
# Calculate the total budget
total_budget = school_data_complete["budget"].sum()
print(total_budget)

82932329558

In [6]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
print(average_math_score)

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(overall_passing_rate)

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary =pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [school_data_complete["math_score"].mean()],
    "Average Reading Score": [school_data_complete["reading_score"].mean()],
    "% Passing Math": [school_data_complete[school_data_complete["math_score"] >= 70].shape[0] / student_count * 100],
    "% Passing Reading": [school_data_complete[school_data_complete["reading_score"] >= 70].shape[0] / student_count * 100],
    "% Overall Passing": [school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].shape[0] / student_count * 100]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}".format)
# Display the DataFrame
print(district_summary)

   Total Schools Total Students        Total Budget Average Math Score  \
0             15         39,170  $82,932,329,558.00              78.99

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0               81.87784       74.980853          85.805463          65.172326

## School Summary

In [12]:
# Use the code provided to select the type per school from school_data
school_types = school_data_complete.set_index(["school_name"])["type"]

In [13]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete["size"].value_counts()

In [14]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data_complete.groupby("school_name")["budget"].first()
per_school_capita = school_data_complete.groupby("school_name").apply(lambda x: x["budget"].iloc[0] / x["size"].iloc[0])

C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\1753962429.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  per_school_capita = school_data_complete.groupby("school_name").apply(lambda x: x["budget"].iloc[0] / x["size"].iloc[0])

In [15]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [16]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby("school_name")["Student ID"].count()

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby("school_name")["Student ID"].count()

In [18]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [19]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [school_data_complete["math_score"].mean()],
    "Average Reading Score": [school_data_complete["reading_score"].mean()],
    "% Passing Math": [school_data_complete[school_data_complete["math_score"] >= 70].shape[0] / student_count * 100],
    "% Passing Reading": [school_data_complete[school_data_complete["reading_score"] >= 70].shape[0] / student_count * 100],
    "% Overall Passing": [school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].shape[0] / student_count * 100]
})

# Formatting
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total Budget"] = per_school_summary["Total Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:.2f}".format)
# Display the DataFrame
print(per_school_summary)

   Total Schools Total Students        Total Budget Average Math Score  \
0             15         39,170  $82,932,329,558.00              78.99

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0               81.87784       74.980853          85.805463          65.172326

## Highest-Performing Schools (by % Overall Passing)

In [132]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
print(top_schools)
top_schools.head(5)

   Total Schools Total Students        Total Budget  Average Math Score  \
0             15         39,170  $82,932,329,558.00               78.99

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0               81.87784       74.980853          85.805463          65.172326

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.99,81.87784,74.980853,85.805463,65.172326

## Bottom Performing Schools (By % Overall Passing)

In [22]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending=True)
bottom_schools.head(5)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.99,81.87784,74.980853,85.805463,65.172326

## Math Scores by Grade

In [23]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =  pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None  
   
# Display the DataFrame
print(math_scores_by_grade)

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
        "9th": ninth_grade_reading_scores,
        "10th": tenth_grader_reading_scores,
        "11th": eleventh_grader_reading_scores,
        "12th": twelfth_grader_reading_scores,
 })
    
# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
print(reading_scores_by_grade)

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [25]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [26]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [66]:
# Define the bins for spending ranges
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
school_spending_df = per_school_summary.copy()
print(school_spending_df.columns)
school_spending_df.columns = school_spending_df.columns.str.strip()

# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)
school_spending_df
# Calculate mean scores and passing rates for each spending range
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()
                                                                                
# Create the spending summary DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending,
}).round(2)

# Display the spending summary DataFrame
print(spending_summary)

Index(['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score',
       'Average Reading Score', '% Passing Math', '% Passing Reading',
       '% Overall Passing'],
      dtype='object')
                              Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                        NaN                    NaN
$585-630                                     NaN                    NaN
$630-645                                     NaN                    NaN
$645-680                                     NaN                    NaN

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                                     NaN                NaN
$585-630                                  NaN                NaN
$630-645                                  NaN                NaN
$645-680                                  NaN                NaN

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                        NaN
$585-630                                     NaN
$630-645                                     NaN
$645-680                                     NaN

C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\2217658075.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\2217658075.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\2217658075.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\2217658075.py:15: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\2217658075.py:16: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [28]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\2524176425.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\2524176425.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\2524176425.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\2524176425.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\2524176425.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [29]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending,
})

# Display results
print(spending_summary)

                              Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                        NaN                    NaN
$585-630                                     NaN                    NaN
$630-645                                     NaN                    NaN
$645-680                                     NaN                    NaN

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                                     NaN                NaN
$585-630                                  NaN                NaN
$630-645                                  NaN                NaN
$645-680                                  NaN                NaN

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                        NaN
$585-630                                     NaN
$630-645                                     NaN
$645-680                                     NaN

## Scores by School Size

In [30]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [31]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [32]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(per_school_counts, [0, 1000, 2000, 5000], labels=["Small", "Medium", "Large"])

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
print(school_size_df)

   Total Schools Total Students        Total Budget Average Math Score  \
0             15         39,170  $82,932,329,558.00              78.99

   Average Reading Score  % Passing Math  % Passing Reading  \
0               81.87784       74.980853          85.805463

   % Overall Passing School Size
0          65.172326         nan

In [90]:
# Calculate averages for the desired columns.  

school_size_df["Average Math Score"] = pd.to_numeric(school_size_df["Average Math Score"], errors='coerce')
school_size_df["Average Reading Score"] = pd.to_numeric(school_size_df["Average Reading Score"], errors='coerce')
school_size_df["% Passing Math"] = pd.to_numeric(school_size_df["% Passing Math"], errors='coerce')
school_size_df["% Passing Reading"] = pd.to_numeric(school_size_df["% Passing Reading"], errors='coerce')
school_size_df["% Overall Passing"] = pd.to_numeric(school_size_df["% Overall Passing"], errors='coerce')

size_math_scores = school_size_df.groupby("School Size")["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby("School Size")["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby("School Size")["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby("School Size")["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby("School Size")["% Overall Passing"].mean()


print("Average Math Score by School Type:")
print(size_math_scores)
print("\nAverage Reading Score by School Type:")
print(size_reading_scores)
print("\nAverage % Passing Math by School Type:")
print(size_passing_math)
print("\nAverage % Passing Reading by School Type:")
print(size_passing_reading)
print("\nAverage % Overall Passing by School Type:")
print(size_overall_passing)

Average Math Score by School Type:
School Size
nan    78.99
Name: Average Math Score, dtype: float64

Average Reading Score by School Type:
School Size
nan    81.87784
Name: Average Reading Score, dtype: float64

Average % Passing Math by School Type:
School Size
nan    74.980853
Name: % Passing Math, dtype: float64

Average % Passing Reading by School Type:
School Size
nan    85.805463
Name: % Passing Reading, dtype: float64

Average % Overall Passing by School Type:
School Size
nan    65.172326
Name: % Overall Passing, dtype: float64

In [71]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
school_Size_bins = [0, 1000, 2000, 5000]
school_size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Create size categories
school_data_complete["School Size"] = pd.cut(school_data_complete["size"], school_Size_bins, labels=school_size_labels)

# Calculate passing percentages
school_data_complete["passing_math"] = (school_data_complete["math_score"] >= 70).astype(int) * 100
school_data_complete["passing_reading"] = (school_data_complete["reading_score"] >= 70).astype(int) * 100
school_data_complete["overall_passing_rate"] = (school_data_complete["passing_math"] + school_data_complete["passing_reading"]) / 2

# Create size summary DataFrame
size_summary = pd.DataFrame({
    "Average Math Score": school_data_complete.groupby("School Size")["math_score"].mean(),
    "Average Reading Score": school_data_complete.groupby("School Size")["reading_score"].mean(),
    "% Passing Math": school_data_complete.groupby("School Size")["passing_math"].mean(),
    "% Passing Reading": school_data_complete.groupby("School Size")["passing_reading"].mean(),
    "% Overall Passing": school_data_complete.groupby("School Size")["overall_passing_rate"].mean()
})

# Display results
print(size_summary)

                    Average Math Score  Average Reading Score  % Passing Math  \
School Size
Small (<1000)                83.828654              83.974082       93.952484
Medium (1000-2000)           83.372682              83.867989       93.616522
Large (2000-5000)            77.477597              81.198674       68.652380

                    % Passing Reading  % Overall Passing
School Size
Small (<1000)               96.040317          94.996400
Medium (1000-2000)          96.773058          95.194790
Large (2000-5000)           82.125158          75.388769

C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\832342601.py:15: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "Average Math Score": school_data_complete.groupby("School Size")["math_score"].mean(),
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\832342601.py:16: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "Average Reading Score": school_data_complete.groupby("School Size")["reading_score"].mean(),
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\832342601.py:17: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "% Passing Math": school_data_complete.groupby("School Size")["passing_math"].mean(),
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\832342601.py:18: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "% Passing Reading": school_data_complete.groupby("School Size")["passing_reading"].mean(),
C:\Users\Antho\AppData\Local\Temp\ipykernel_35004\832342601.py:19: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "% Overall Passing": school_data_complete.groupby("School Size")["overall_passing_rate"].mean()

## Scores by School Type

In [88]:
# Group the per_school_summary DataFrame by "School Type" and average the results.

numeric_columns = [
    "Average Math Score", "Average Reading Score",
    "% Passing Math", "% Passing Reading", "% Overall Passing"]

for col in numeric_columns:
    per_school_summary[col] = pd.to_numeric(per_school_summary[col], errors='coerce')

average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

print("Average Math Score by School Type:")
print(average_math_score_by_type)
print("\nAverage Reading Score by School Type:")
print(average_reading_score_by_type)
print("\nAverage % Passing Math by School Type:")
print(average_percent_passing_math_by_type)
print("\nAverage % Passing Reading by School Type:")
print(average_percent_passing_reading_by_type)
print("\nAverage % Overall Passing by School Type:")
print(average_percent_overall_passing_by_type)

Average Math Score by School Type:
School Type    78.99
Name: Average Math Score, dtype: float64

Average Reading Score by School Type:
School Type    81.87784
Name: Average Reading Score, dtype: float64

Average % Passing Math by School Type:
School Type    74.980853
Name: % Passing Math, dtype: float64

Average % Passing Reading by School Type:
School Type    85.805463
Name: % Passing Reading, dtype: float64

Average % Overall Passing by School Type:
School Type    65.172326
Name: % Overall Passing, dtype: float64

In [130]:
# Assemble the new data by type into a DataFrame called `type_summary`


type_summary = pd.DataFrame({

    "type": ["District", "Charter"],
    "Total Schools": ["district schools", "charter schools"],
    "Total Students": ["district_students", "charter students"],
    "Total Budget": ["district budget", "charter budget"],
    "Average Math Score": ["district math avg", "charter math avg"],
    "Average Reading Score": ["district reading avg", "charter reading avg"],
    "% Passing Math": ["district passing math", "charter_passing_math"],
    "% Passing Reading": ["district passing reading", "charter passing reading"],
    "% Overall Passing": ["district overall passing", "charter overall passing"],
    "School Type": ["District", "Charter"]})

# Display results

print(type_summary)

       type     Total Schools     Total Students     Total Budget  \
0  District  district schools  district_students  district budget
1   Charter   charter schools   charter students   charter budget

  Average Math Score Average Reading Score         % Passing Math  \
0  district math avg  district reading avg  district passing math
1   charter math avg   charter reading avg   charter_passing_math

          % Passing Reading         % Overall Passing School Type
0  district passing reading  district overall passing    District
1   charter passing reading   charter overall passing     Charter